#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  margin: 0;
  background-color: #242424;
}

.home-button {
  position: absolute;
  left: 0;
  top: 20px;
  transform: translateY(-50%);
  padding: 8px 14px;
  background-color: var(--color-button, #444);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: var(--color-button-hover, #666);
}
